      <aside class="article_outline" id="article_outline" role="navigation" aria-label="Page outline">
        <div class="outline_thread">
          <svg class="outline_thread_drawing" id="outline_thread_drawing" aria-hidden="true">
            <path id="outline_thread_geometry" pathLength="1" fill="none"></path>
            <use id="outline_thread_base" href="#outline_thread_geometry"></use>
            <use id="outline_thread_progress" href="#outline_thread_geometry"></use>
          </svg>
        </div>
        <div class="outline_labels" id="outline_labels"></div>
      </aside>
